<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='node_modules/fomantic-ui-css/semantic.min.css') }}">
    <script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/semantic.min.js') }}"></script>
    
<style>


</style>
</head>

<body class="ui container" style="background-color: #eafaf7;">
    {% block body %}{% endblock body %}
</body>

</html>